= javascript_pack_tag 'calendar'
= render partial: 'sidebar', style: "font-size: 40"
= render partial: 'sidebar', collection: @sidebar, locals: {size: 30}
.content
  %h1 Calendar#index
  #calendar
  %p Find me in app/views/calendar/index.html.haml
  =link_to "Team" , players_path, :locals =>  { :f => "ok" }, class: "active a"
  %br
  %br
  %table
    %tr.list
      %td Date
      %td Name
      %td Opponent
      %td Add Squad

