.content
  %h1.home Home Page
  %h2.home
    User: #{current_user.email}
  %h2.home
    Team: #{current_user.team}
  

  = image_tag 'pilka.jpeg'
  = link_to('Logout', destroy_user_session_path, method: :delete)