.content
  %h1 Team#index
  %p Find me in app/views/team/index.html.haml
  =Time.now.beginning_of_month
  /- @players.each do |player|
  /.player
  /  %p.content= player.id
  = link_to 'New Player', new_team_path()

