<!-- .content -->
<!--  %h1 Team#index -->
<!--  %p Find me in app/views/team/index.html.haml -->
<!--   =Time.now.beginning_of_month -->
  <% @players.each do |player| %> 
    <div class="player"> 
      <p class="content"><%= player.id %></p> 
    </div> 
<% end %> 
<%= link_to 'New Player', "players/new" %> 


