<%= form_for(@player) do |f| %>  
    <div class="field"> 
      <%= f.label :player %><br> 
      <%= f.text_area :id %> 
    </div> 
    <div class="actions"> 
      <%= f.submit "Create" %> 
    </div> 
  <% end %> 