/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import url("https://fonts.googleapis.com/css?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:400,500,700&display=swap&subset=latin-ext");

body {
  font-family: 'Graduate', cursive;
  background-color: lightgray;
  background-image: url(bc-image.jpeg);
  background-size:cover;
}
.content, .table, .td, .tr {
  font-family: 'Graduate', cursive;
}

footer{
  margin-left: 10px;
  color: white;
}

.content2nd.footer{
  margin-left: 315px;
  position: absolute;
  bottom: 0%;
}

h1.event.start.margin{
  margin-left: 300px;
}

form-group.name{
  text-align: center;
  float: center;
}

.btn-link {
  font-size: 30px;
}

.collapse.show{
  // background-color: red;
  text-align: left;
}

card-event{
  background-color:rgba(255,255,255,0.5);
}

.card-header {
  background:rgba(255,255,255,0.5) !important;
  height: 100px;
  justify-content: center;
  // margin-bottom: 30px;
}

button.btn.btn-link.collapsed{
  color: black;
  margin-bottom: 20px;
}

.btn.btn-link.collapsed.przycisk{
  color:black;
  padding: 10px;
  background-color: greenyellow;
  border-color: yellow;
  border-radius: 10px;
  border-width: 2px;
  font-size: 30px;
  margin-bottom: 0px;
}

h5.mb-0{
  height:60px;
  margin-bottom: 10px;
//   // background-color: rgba(100, 100, 100, 0.5);
}

.content{
  font-family: 'Graduate', cursive;
}

h1.player, h1.event{
  font-size: 60px;
  color: white;
}


btn.btn-outline-primary{
  color: white;
  background-color: white;
}

.col-md-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  // max-width: 100%;
  text-align: center;
  justify-content: center;
}

.new_player{
  justify-content: center;
}

.form-control.col-md-3.control-label {
  justify-content: center;
  width: 300px;
}

.form-control.col-md-3.control-label.player {
  justify-content: center;
  width: 30%
}

.field {
  justify-content: center
}


.form-group{
text-align: -moz-center;

}

.input-group.date{
  text-align: center;
}

.form-control.datetimepicker-input{
  background-color: rgba(255,255,255,0.5);
  width: 150px;
}

.input-group {
  width: 110%;
  margin-left: 42%;
}

.submit{
  background-color: red;
  border-color: red;
  border-radius: 20%;
  font-size:15px;
  // text-align: center;
}

.form-control{
  width: 240px;
  background-color: rgba(255,255,255,0.5);
}