/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:400,500,700&display=swap&subset=latin-ext");
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

.background-whole {
  background-color: red;
}

body {
  // font-family: 'Lato', sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.col-md-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.new_player{
  justify-content: center;
}

.form-control.col-md-3.control-label {
  justify-content: center;
  width: 100%;
}