// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  text-align: center;
}

.content2nd{
  background-color: grey;
  background:rgba(255,255,255,0.5);
  border-radius: 15px;
  margin-top: 2%;
}

.form.group{
  margin-bottom: 0rem;
  width: 50% !important;
}

%tr.rate{
  color: white;
}

h1.event{
  font-size: 40px;
  color: white;
}

%td.create{
  color: white;
  font-size: 30px;
}

.input-group-text{
  height: 40%;
  margin-top: 35px;
  margin-left: 10px;
  border-radius: 25%;
}

.actions{

  margin-top: 1.2rem;
}

.card-body{
  justify-content: center;
  margin-left: 37%;
  text-align: left;


}

tr:hover {
  background-color: lightgreen;
}

td.date, td.date1 {
  font-size: 23px;
}

td.date{
  background-color: lightgreen;

}
td.date1{
  background-color: #1daf3871;
  color: white;
}

td.date2{
  background-color: greenyellow;
}

td.list{
  padding: 20px;
  font-weight: bold;
  font-size: 26px;
}


td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

table{
  overflow: hidden;
  width: 100%;
  text-align: center;
}

p.content{
  background-color: aquamarine;
}

td {
  text-align: center;
  font-size: 20px;
}

tr{
  background-color: #1daf3871;
}
tr.list:nth-child(odd) {background-color:#4caf50; // #f2f2f2;
}

tr.list{
  height: 10% ;
  color: white;
  font-weight: bold;
}

.btn{
  margin-bottom: 10px;
  margin-top: 10px;
}

button.btn.btn-outline-primary.btn-sm{
  font-size: 20px;
  color: white;
  background-color: rgb(245, 70, 70);
  font-weight: bold;
  border-color: red;
}

button.btn.btn-outline-primary.btn-sm:link{
  color: white;
}

button.btn.btn-outline-primary.btn-sm:hover{
  background-color: yellow;
  border-color: yellow;
  color:black;
}

button.btn.btn-outline-primary.btn-sm:hover:active{
  background-color: lightgreen;
  color:white;
}


button.btn.btn-outline-primary.btn-sm:hover::after{
  color:red;
  background-color: white;
}

a:hover{
  color: yellow;
}


a:hover::after {
  color: #fff;
  background-color: white;
}


.down{
width: 100%;
}

.downhalf{
width: 45%;
text-align: center;
}