// Place all the styles related to the PlayBook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .drawing {
//     background-color: green;
// }



.drawArea {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  height: 100vh;
  //width: 100%;
}

.TopToolBar {
  height: 100px;
}

.BottomToolBar {
  height: 100px;
}

// .drawArea {
//     border-width: 1px;
//     border-color: black;
//     border-style: solid;
//     //width: 100%;
//     height: 100vh;
//     //display: block;
//   }

// .drawAreaInternal {
//   left: 0;
//   top: 0;
//   border-width: 1px;
//   border-color: black;
//   border-style: solid;
// }