// Place all the styles related to the PlayBook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.DrawArea {
  height: calc(100vh - 200px);
}

.TopToolBar {
  height: 100px;
}

.BottomToolBar {
  height: 100px;
}