// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
    position:initial;
    text-align: left;
}
button {
//    position: absolute; right:10;
}

.field{
    text-align: left;
}

table{
    font-size: 25px;
}

p.content{
    background-color: aquamarine;
}


th {
    width:150px;
    height: 50px;
    vertical-align: bottom;
    //padding-right: 20px;
    font-size: 160%;
  }
td {
    width: 150px;
    height: 50px;
    vertical-align: bottom;
    //padding-left: 60px;
    font-size: 120%;
  }