
-unless request.path.start_with?('/users')
  #sidebar
    %h3 CoachHelper
    /%a.active{:href => "/team/index"}   
    - if request.path.start_with?("/calendar")
      =link_to "Team" , players_path,id: 'team', class: "a"
      =link_to "Calendar" , calendar_index_path, id: 'calendar', class: "active a"
      =link_to "Play Books" , new_play_book_path, id: 'play_books', class: "a"
    - elsif request.path.start_with?("/plyers","/plyer")
      =link_to "Team" , players_path,id: 'team', class: "active a"
      =link_to "Calendar" , calendar_index_path, id: 'calendar', class: "a"
      =link_to "Play Books" , new_play_book_path, id: 'play_books', class: "a"
    - elsif request.path.start_with?("/play_books","/play_book")
      =link_to "Team" , players_path,id: 'team', class: "a"
      =link_to "Calendar" , calendar_index_path, id: 'calendar', class: "a"
      =link_to "Play Books" , new_play_book_path, id: 'play_books', class: "active a"
      -(1..100).each do |n|
        =link_to n , new_play_book_path, id: 'play_books', class: "a"
    - else 
      =link_to "Team" , players_path,id: 'team', class: "a"
      =link_to "Calendar" , calendar_index_path, id: 'calendar', class: "a"
      =link_to "Play Books" , new_play_book_path, id: 'play_books', class: "a"
